<div class="content">
  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <h4 class="title">Posts</h4>
        <add-post-button
          *ngIf="isLoggedIn()"
          btnText="Publish Post"
          (added)="refresh($event)"
        ></add-post-button>
      </div>
    </div>
    <div class="card-body">
      <ng-container *ngFor="let post of posts">
        <app-post
          [post]="post"
          [firstName]="firstName"
          [lastName]="lastName"
        ></app-post>
      </ng-container>
    </div>
  </div>
</div>
