<div class="card-body">
    <form class="form-group">
        <input class="form-control lg mb-2" type="text" placeholder="Email" />
        <input class="form-control lg mb-2" type="password" placeholder="Password" />
        <button type="button" class="btn btn-primary w-100">Log In</button>
        <hr />
        <div class="text-center">
            <a routerLink="/auth/register">
                <button type="button" class="btn btn-default w-75">
                    Join now
                </button>
            </a>
        </div>
    </form>
</div>