<div class="content">
  <div class="row" *ngIf="pageLoaded">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <h5 class="title">Posts</h5>
            <add-post-button
              *ngIf="isMyProfile()"
              btnText="Publish Post"
            ></add-post-button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="card-body">
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a [routerLink]="">
              <img
                class="avatar"
                src="https://xsgames.co/randomusers/avatar.php?g=male"
                alt="..."
              />
              <h5 class="title">
                {{ userData.firstName }} {{ userData.lastName }}
              </h5>
            </a>
            <p class="description">
              {{
                userInfo?.role === "REGISTERED_USER"
                  ? "Registered User"
                  : "Administrator"
              }}
            </p>
          </div>
          <p></p>
          <p class="card-description">
            {{ userData.bio ? userData.bio : "About me" }}
          </p>
        </div>
        <div class="card-footer">
          <div class="button-container" *ngIf="isLoggedIn()">
            <button
              [routerLink]="['/edit-profile']"
              type="button"
              class="btn animation-on-hover"
              *ngIf="isMyProfile()"
            >
              Edit Profile
            </button>
            <button
              (click)="block()"
              type="button"
              class="btn animation-on-hover"
              *ngIf="!isMyProfile() && !isBlocked"
            >
              Block
            </button>
            <button
              (click)="unblock()"
              type="button"
              class="btn animation-on-hover"
              *ngIf="!isMyProfile() && isBlocked"
            >
              Unblock
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
