.inactive {
    border: none;
    background-color: transparent;
    fa-icon {
        color: #1d8cf8;
    }
    font-size: 17px;
    transition: 0.5s;
}

.active {
    border: none;
    background-color: transparent;
    fa-icon {
        color: #ba54f5;
    }
    font-size: 17px;
} 

.active:hover:enabled {
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
}

.inactive:hover:enabled {
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
}